doctype html
html(lang="en")
  head
    include ../header.pug
  - files = JSON.stringify(task.files)
  - comments = task.comments
  title Tarea
  style.
    img.is-user {
      border-radius: 50%;
    }
  body
    include ../navbar.pug
    .section#app
      .container
        .columns.is-centered
          .column.is-three-fifths
            .content
              p.is-size-1.is-marginless.has-text-centered #{task.title}
              P.is-size-3.is-marginless #{task.author}
              p.is-size-7 Ultima edici&oacute;n: #{task.modificationDate}
              p.has-text-justified #{task.description}
              hr
              v-client-table(:columns="columns" :data="documents" :options="options")
                div(slot='type' slot-scope='props')
                  p(v-if='files.images.test(props.row.name)')
                    span.icon.has-text-primary
                      i.fas.fa-file-image
                    span &nbsp;Imagen
                  p(v-else-if='files.text.test(props.row.name)')
                    span.icon.has-text-word
                      i.fas.fa-file-word
                    span &nbsp;Documento
                  p(v-else-if='files.sheets.test(props.row.name)')
                    span.icon.has-text-excel
                      i.fas.fa-file-excel
                    span &nbsp;Hoja de Calculo
                  p(v-else-if='files.slides.test(props.row.name)')
                    span.icon.has-text-ppt
                      i.fas.fa-file-powerpoint
                    span &nbsp;Presentaci&oacute;n
                  p(v-else-if='files.audio.test(props.row.name)')
                    span.icon.has-text-audio
                      i.fas.fa-file-audio
                    span &nbsp;Audio
                  p(v-else-if='files.video.test(props.row.name)')
                    span.icon.has-text-video
                      i.fas.fa-file-video
                    span &nbsp;Video
                  p(v-else-if='files.pdf.test(props.row.name)')
                    span.icon.has-text-pdf
                      i.fas.fa-file-pdf
                    span &nbsp;PDF
                  p(v-else)
                    span.icon
                      i.fas.fa-file
                    span &nbsp;Archivo
                div(slot='options' slot-scope='props')
                  .field.is-grouped
                    p.control
                      a.button.is-link(:href="`/files/${props.row.name}`")
                        span.is-icon.is-medium
                          i.fas.fa-download
                        span &nbsp;Descargar
            hr
            article.media
              figure.media-left
                p.image.is-64x64
                  img.is-user(:src='user.image')
              .media-content
                .field
                  p.control
                    textarea.textarea(placeholder='Comentarios', rows='2' v-model='comment')
                nav.level
                  .level-left
                  .level-right
                    .level-item
                      a.button.is-info(@click="postComment") Submit
                  //- .level-right
                    .level-item
                      label.checkbox
                        input(type='checkbox')
                        |  Press enter to submit
            br
            #comments
              each comment in comments
                .box
                  article.media
                    figure.media-left
                      p.image.is-64x64
                        img.is-user(src=comment.urlImage)
                    .media-content
                      .content
                        p
                          strong #{comment.userName}
                          br
                          | #{comment.content}
                    .media-right
      .modal
        .modal-background
        .modal-content
          iframe(src='http://docs.google.com/gview?url=https://www.dspace.espol.edu.ec/bitstream/123456789/25065/1/Tesis.docx&embedded=true')
        button.modal-close(aria-label='close')
  script.
    const files = JSON.parse('!{JSON.stringify(task.files)}');
    const task = '!{task.id}'
  script(src='/tables/vue-tables-2.min.js')
  script(src='../../vue/controllers/view-task.js')
  include ../footer